
<%= render 'shared/page_title', title: "Novo Post" %>
<% if @post.errors.any? %>
  <div class="row">
    <div class="col-md-6 offset-md-3 center">
      <div class="card text-white bg-danger mb-3">
        <div class="card-heading">
            <%= pluralize(@post.errors.count, "error") %>
             <%= @post.class %>:
        <div class="card-body">
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
        </div>  
      </div>
    </div>
  </div>
<% end %>
<div class= row>
    <div class= col-md-16>
        <%= form_for(@post, :html => {class: "form-horizontal", role: "form"}) do |f| %>
            <div class = "form_group col-md-6 offset-md-3 center">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: "form-control", placeholder: "Nome do Post", autofocus: true %>
            </div>
            <div class = "form_group col-md-6 offset-md-3 center">
                    <%= f.label :description %>
                    <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Descrição do Post", autofocus: true %>
            </div>
            <div class = "form_group  center">
                <%= f.submit class: "btn btn-dark btn-lg", id:"botaoLogin" %>
        <% end %>
        <div class= "colormatch center">
           [[<%= link_to "cancelar", posts_path %>]]
        </div>
    </div>
</div>
